body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footerLink {
  text-decoration: none;
  color: black;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
      background-color: white;
      color: black;
  }

  .text-color {
    color: black;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
      background-color: black;
      color: white;
  }
  
  .text-color {
    color: white;
  }

  .footerLink {
    color: white;
  }
}